@model APIWithWeb.Models.Nguoidungsave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nguoidungsave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MamonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MamonNavigation.Mamon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TendangnhapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TendangnhapNavigation.Tendangnhap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNds">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
